@media screen and (min-width: 769px) {

.grid-container {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: auto;
grid-gap:10px}




.grid-item1 {grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start:1;
    grid-row-end: 2;
color: black;
border: solid forestgreen 100px;
background:forestgreen;
font-size: 50px;
border-radius: 10px 10px 10px 10px;

}

.grid-item2 {grid-column-start: 1;
    grid-column-end:3;
    grid-row-start: 3;
    grid-row-end:5;
color: black;
border: solid red 100px;
background: red;
font-size: 50px;
border-radius: 10px 10px 10px 10px;

}
.grid-item3 {grid-column-start: 3;
grid-column-end:5;
grid-row-start: 3;
grid-row-end: 5;
color: black;
border: solid yellow 100px;
background: yellow;
font-size: 50px;
border-radius: 10px 10px 10px 10px;
}
.grid-item4 {grid-column-start: 5;
grid-column-end:6;
grid-row-start:3;
grid-row-end: 5;
color: black;
border: solid blue 100px;
background: blue;
font-size: 50px;
border-radius: 10px 10px 10px 10px;}

.grid-item5 {grid-column-start: 1;
grid-column-end:6;
grid-row-start: 5;
grid-row-end: 6;
color: black;
border: solid pink 100px;
background: pink;
font-size: 50px;
border-radius: 10px 10px 10px 10px;}
}

@media (max-device-width: 480px)   {

    .grid-container {
        display: grid;
        grid-template-rows: 200px 200px 200px 200px 200px 200px 200px;
        grid-template-columns: auto;
    grid-gap:10px}

    .grid-item1 {grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start:  1;
        grid-row-end:2;
        position: static;
    color: black;
    border: solid forestgreen 100px;
    background:forestgreen;
    font-size: 50px;
    border-radius: 10px 10px 10px 10px;
    
    }
    
    .grid-item2 {grid-column-start: 1;
        grid-column-end:6;
        grid-row-start: 2;
        grid-row-end: 3;
        position: static;
    color: black;
    border: solid red 100px;
    background: red;
    font-size: 50px;
    border-radius: 10px 10px 10px 10px;
    
    }
    .grid-item3 {grid-column-start: 1;
    grid-column-end:6;
    grid-row-start: 3;
    grid-row-end: 5;
    position: static;
    color: black;
    border: solid yellow 100px;
    background: yellow;
    font-size: 50px;
    border-radius: 10px 10px 10px 10px;
    }
    .grid-item4 {grid-column-start: 1;
    grid-column-end:6;
    grid-row-start: 5;
    grid-row-end: 6;
    position: static;
    color: black;
    border: solid blue 100px;
    background: blue;
    font-size: 50px;
    border-radius: 10px 10px 10px 10px;}
    
    .grid-item5 {grid-column-start: 1;
    grid-column-end:6;
    grid-row-start: 6;
    grid-row-end: 7;
    position: static;
    color: black;
    border: solid pink 100px;
    background: pink;
    font-size: 50px;
    border-radius: 10px 10px 10px 10px;
    }}

    
    @media (min-device-width: 481px) and (max-device-width: 768px) 
{
        .grid-container {
            display: grid;
            grid-template-rows: 200px 200px 200px 200px 200px;
            grid-template-columns: auto;
        grid-gap:10px}
    
        .grid-item1 {grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start:  1;
            grid-row-end:2;
            position: static;
        color: black;
        border: solid forestgreen 100px;
        background:forestgreen;
        font-size: 50px;
        border-radius: 10px 10px 10px 10px;
        
        }
        
        .grid-item2 {grid-column-start: 1;
            grid-column-end:2;
            grid-row-start: 2;
            grid-row-end: 4;
            position: static;
        color: black;
        border: solid red 100px;
        background: red;
        font-size: 50px;
        border-radius: 10px 10px 10px 10px;
        
        }
        .grid-item3 {grid-column-start: 2;
        grid-column-end:6;
        grid-row-start: 2;
        grid-row-end: 4;
        position: static;
        color: black;
        border: solid yellow 100px;
        background: yellow;
        font-size: 50px;
        border-radius: 10px 10px 10px 10px;
        }
        .grid-item4 {grid-column-start: 1;
        grid-column-end:6;
        grid-row-start: 4;
        grid-row-end: 5;
        position: static;
        color: black;
        border: solid blue 100px;
        background: blue;
        font-size: 50px;
        border-radius: 10px 10px 10px 10px;}
        
        .grid-item5 {grid-column-start: 1;
        grid-column-end:6;
        grid-row-start: 5;
        grid-row-end: 6;
        position: static;
        color: black;
        border: solid pink 100px;
        background: pink;
        font-size: 50px;
        border-radius: 10px 10px 10px 10px;
        }}

    