h1{color: darkgreen;
    font-family:georgia;
    text-align:center;}
  #header2 {font-family:georgia;
text-align:center;}

.link {text-decoration: none;}
a:hover {text-decoration: underline;}

div > p {text-transform:uppercase;}

div .photo {float: left;
display:block;
padding-right: 30px}

