h1,h2 {color: darkgreen;
    font-family:georgia;
    text-align:center;}
.link {text-decoration: none;}
a:hover {text-decoration: underline;}

p {text-transform:uppercase ;}

.photo {float: left;
display:block;
padding-right: 30px}

